{% extends 'base.html.twig' %}

{% block title %}Shopping info{% endblock %}

{% block body %}


{%if (is_granted('ROLE_ADMIN'))%}
    <h1>Shipping information - you are login as admin</h1>

    {{ include('client_info/_form.html.twig') }}

    <a href="{{ path('app_Client_Info_index') }}">List of all orders</a>
    {% elseif (is_granted('ROLE_USER'))%}
        <h1>Shipping information </h1>

        {{ include('client_info/_form.html.twig') }}
{%else %}
    You have to log in if you want to see product's list.
    {% endif %}
{% endblock %}

